@page "/bills/{yearMonth}"
@inject IBillsRepository Repository
@attribute [Authorize]
@if (details == null)
{
    <p><em>Loading...</em></p>
}
else
{
<MatButtonLink Href="@pdfDownloadLink" Target="_blank">Download T-Mobile Bill</MatButtonLink>
    <MatTable Items="@details" class="mat-elevation-z5" ShowPaging="false" PageSize=40>
        <MatTableHeader>
            <th>Name</th>
            <th>Number</th>
            <th>Plan Amount</th>
            <th>Equipment</th>
            <th>Services</th>
            <th>One Time Charges</th>
            <th>Total</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Name</td>
            <td>@context.Number</td>
            <td>@context.PlanAmount</td>
            <td>@context.Equipment</td>
            <td>@context.Services</td>
            <td>@context.OneTimeCharge</td>
            <td>@context.Total</td>
        </MatTableRow>
    </MatTable>
}
@code{
    [Parameter]
    public string YearMonth { get; set; }
    public string pdfDownloadLink { get; set; }

    private IEnumerable<BillDetail> details;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            pdfDownloadLink = (await this.Repository.GetDownloadLink(this.YearMonth)).Url;
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error generating the link:{this.YearMonth} {e}");
        }

        details = (await this.Repository.GetBillDetails(this.YearMonth)).OrderBy(d => d.Name);
    }
}